*{
    margin: 0.1vw;
}
main{
background: rgb(226,195,158);
background: linear-gradient(350deg, rgba(226,195,158,1) 0%, rgba(232,105,168,1) 50%, rgba(44,51,140,0.6225840678068102) 100%);
box-shadow: 3px 2px 25px -1px #141412;
padding: 2vw;
border: 0.1vw solid blueviolet;
}
.nav{
    font-size: 110%;
}
a:any-link{
    color: rgb(219, 87, 144);
}
.intro{
    display: flex;
    justify-content:center;
    align-content: center;
    text-align: center;
    margin: 3vw;
    padding: 2vw;
    font-size: 130%;
}
h3{
    margin: 2vw;
    font-size: 300%;
    font-family: 'Amatic SC', cursive;
}
h5{
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: 250%;
    margin-left: -12vw;
}
p{
    font-family: 'Outfit', sans-serif;
}
img{
    margin-top: -2vw;
    margin-left: 1vw;
    height: 26vw;
    width: auto;
    border-radius: 20%;
    border: 0.1cm solid rgb(147, 104, 188);
}
img:hover{
    transform: scale(1.1);
}
footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vw;
        opacity: rgba(82, 132, 182, 0.4)
}
@media (max-width: 1020px) {
  .intro{
    display:flex;
    flex-direction: column;
   }
   img{
    height: 90vw;
    width: auto;
   }
} 
